* {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 100px;
  z-index: 1000;
}

main {
  margin-bottom: 200px;
  margin-top: 120px;
}

footer {
  background-color: purple;
  border-top: 3px grey solid;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.button-logout {
  display: flex;
}

.formular__container {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: blueviolet;
  border-bottom: 3px solid grey;
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.list {
  border: 3px solid grey;
  padding: 3px;
  border-radius: 20%;
}

.profile__box {
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile__pic {
  width: 10rem;
  border-radius: 50%;
}

.profile__tags {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.title__center {
  border-bottom: black 3px solid;
  xopacity: 0.5;
}

p {
  margin: 15px 10px;
}
