* {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 100px;
  z-index: 1000;
}

main {
  margin-bottom: 200px;
  margin-top: 120px;
}

footer {
  background-image: var(--gradient-green2);
  border-top: 3px grey solid;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.button-logout {
  display: flex;
}

.formular__container {
  display: flex;
  flex-direction: column;
}

.header {
  background-image: var(--gradient-green2);
  border-bottom: 3px solid grey;
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.list {
  border: 3px solid white;
  padding: 3px;
  border-radius: 20%;
}

.profile__box {
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile__pic {
  width: 10rem;
  border-radius: 50%;
}

.profile__tags {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.title__center {
  border-bottom: black 3px solid;
  xopacity: 0.5;
}

p {
  margin: 15px 10px;
}

:root {
  --primary-lightest: hsl(81, 60%, 96);
  --primary-light: hsl(81, 60%, 85%);
  --primary: hsl(81, 60%, 60%);
  --primary-dark: hsl(81, 60%, 25%);
  --primary-darker: hsl(81,60,10);

  --secondary-lightest: hsl(261,60,96);
  --secondary-light: hsl(261,60,85);
  --secondary: hsl(261,60,60);
  --secondary-dark: hsl(261,60,25);
  --secondary-darker: hsl(261,60,10);

  --black: #211103;
  --grey: hsl(201, 7%, 62%);
  --white: #fff;

  --gradient-green: linear-gradient( to right, var(--primary-dark), var(--primary-light));
  --gradient-green2: linear-gradient( to left, var(--primary-dark), var(--primary-light));


  /*
  --ff-sans: sans-serif;
  --ff-serif: serif;

  /* font-size: 
  --fs-200: 0.75rem;
  --fs-300: 0.75rem;
  --fs-400: 0.75rem;
  --fs-500: 0.75rem;
  --fs-600: 0.75rem;
  --fs-900: 0.75rem;

}



