.card {
  background-color: var(--primary-light);
  border-bottom: 3px solid grey;
  text-align: center;
  margin-bottom: 2rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  padding: 1rem;
  position: relative;
  transition: transform 2s ease-out;
  box-shadow: box-shadow: 1rem 0.5rem 0.5rem black;
  border-radius: 20px;
}

.card:nth-child(2) {
  background-color: var(--secondary-light);
}

.card__bookmark {
  position: absolute;
  top: -15px;
  left: 93%;
  width: 2rem;
}

.card__bookmark:hover {
  transform: rotate(270deg) scale(1.5);
}

.card__details:nth-child(2) {
  background-color: var(--secondary);
}

.card__tags {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding-left: 0;
}

.list {
  padding: 3px;
  border-radius: 20%;
  background-color: white;
  xbackground-color: var(--primary-light);
  margin-bottom: 7px;
  margin-top: 7px;
}


.hidden {
  visibility: hidden;
}

.card__button {
  background: transparent;
  border: 2px solid white;
  border-radius: 100vw;
  color: white;
  padding: 0.4rem 0.5rem 0.6rem;
}

.card__answer {
  background: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0.4rem 0.5rem 0.6rem;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 0.2rem;
}