.navigation {
  padding: 20px;
}

.navigation__container {
  display: flex;
  list-style: none;
}

.navigation__item {
}

.navigation__item--active a {
  border: 2px solid lightcoral;
  border-radius: 3rem;
  xfont-weight: 800;
  padding: 2.1rem 0.5rem 0.3rem;
}

.navigation__img {
  width: 2.5rem;
}
