.navigation {
  padding: 0.5rem;
}

.navigation__container {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin-left: 20%;
  margin-right: 20%;
  flex-wrap: nowrap;
  padding-left: 0;
}

.navigation__item {
  margin: 7px;
}

.navigation__item--active a {
  border: 2px solid var(--primary);
  border-radius: 3rem;
  padding: 2.1rem 0.5rem 0.3rem;
}

.navigation__img {
  width: 2.5rem;
}
